.history{
    background: #FEFEFE;
    padding: 0 !important;
    @include media(1200){
        padding-top: 50px!important;
    }
    @include media(576){
        padding-top: 30px!important;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(1200){
            flex-direction: column;
            align-items: center;
            row-gap: 32px;
        }
    }
    &__content{
        @include media(1200){
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 25px;
        }
    }
    &__title{
        margin-bottom: 25px;
        @include media(1200){
            margin-bottom: 0;
            text-align: center;
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 27px;
        line-height: 133.5%;
        color: #536473;
        margin-bottom: 25px;
        max-width: 600px;
        width: 100%;
        @include media(1200){
            margin-bottom: 0;
            text-align: center;
        }
        @include media(768){
            font-size: 22px;
        }
    }
    &__img{
        line-height: 0;
        @include media(1200){
            width: 100%;
        }
        img{
            line-height: 0;
            @include media(1200){
                width: 100%;
                object-fit: cover;
            }
        }
    }
}