mixin clients()
    section.section.clients 
        .clients__body.container 
            h2.clients__title.title Наши клиенты
            .clients__content 
                .clients__item 
                    .clients__item-img 
                        img(src="@img/clients-icon-1.svg", alt="" draggable="false" loading="lazy")
                    .clients__item-content
                        p.clients__subtitle Екатерина Романова
                        p.clients__p Получила отказ 45 сек назад
                        p.clients__desc #[img(src="@img/why-icon.svg", alt="" draggable="false" loading="lazy")] г. Москва
                .clients__item 
                    .clients__item-img 
                        img(src="@img/clients-icon-2.svg", alt="" draggable="false" loading="lazy")
                    .clients__item-content 
                        p.clients__subtitle Игорь Николаев
                        p.clients__p Взял 5 000 ₽ 2 мин назад
                        p.clients__desc #[img(src="@img/why-icon.svg", alt="" draggable="false" loading="lazy")] г. Москва
                .clients__item 
                    .clients__item-img 
                        img(src="@img/clients-icon-3.svg", alt="" draggable="false" loading="lazy")
                    .clients__item-content
                        p.clients__subtitle Светлана Борисовна
                        p.clients__p Внес на счет 12 000 ₽ 45 сек назад
                        p.clients__desc #[img(src="@img/why-icon.svg", alt="" draggable="false" loading="lazy")] г. Москва