mixin history()
    section.section.history     
        .history__body.container 
            .history__content
                h2.history__title.title Получи деньги здесь и сейчас
                p.history__desc Без проверки кредитной истории. #[br] От 1 000 ₽ за 15 минут.
                a(href="#!").history__btn.btn Оформить заявку 
            .history__img 
                img(src="@img/history-img.png", alt="" draggable="false" loading="lazy").disable-xl
                img(src="@img/history-img_xl.png", alt="" draggable="false" loading="lazy").enable-xl.disable-md
                img(src="@img/history-img_sm.png", alt="" draggable="false" loading="lazy").enable-md