mixin how()
    section.section.how 
        .how__body.container 
            h2.how__title.title Как получить деньги
            .how__content
                .how__item 
                    .how__img 
                        img(src="@img/how-img-1.png", alt="")
                    .how__num.active 
                        span 1
                    .how__p Выберите сумму #[br] займа
                .how__item 
                    .how__img 
                        img(src="@img/how-img-2.png", alt="")
                    .how__num 
                        span 2
                    .how__p Заполните #[br] анкету
                .how__item 
                    .how__img 
                        img(src="@img/how-img-3.png", alt="")
                    .how__num 
                        span 3
                    .how__p Дождитесь рассмотрения #[br] заявки
                .how__item 
                    .how__img 
                        img(src="@img/how-img-4.png", alt="")
                    .how__num 
                        span 4
                    .how__p Получите деньги любым удобным способом
            .how__row.enable-md
            a(href="#!").how__btn.btn Оформить заявку 