mixin offer()
    section.section.offer 
        .offer__body.container 
            h2.offer__title.title Лучшие предложения
            .offer__content 
                .offer__item
                    .offer__abs 
                        img(src="@img/offer-lenta.svg", alt="") 
                    h2.offer__subtitle #[span 15 000 ₽] на #[span 7]  дней 
                    p.offer__p #[img(src="@img/offer-home.svg", alt="" draggable="false" loading="lazy")] Дата возврата: #[span 12 января 2022]
                    p.offer__p #[img(src="@img/offer-rub.svg", alt="" draggable="false" loading="lazy")]  К возврату: #[span 45 500 ₽]
                .offer__item
                    .offer__abs 
                        img(src="@img/offer-lenta-2.svg", alt="") 
                    h2.offer__subtitle #[span 25 000 ₽] на #[span 1]  месяц 
                    p.offer__p #[img(src="@img/offer-home.svg", alt="" draggable="false" loading="lazy")] Дата возврата: #[span 12 января 2022]
                    p.offer__p #[img(src="@img/offer-rub.svg", alt="" draggable="false" loading="lazy")]  К возврату: #[span 45 500 ₽] 
                .offer__item
                    .offer__abs 
                        img(src="@img/offer-lenta-3.svg", alt="") 
                    h2.offer__subtitle #[span 45 000 ₽] на #[span 1]  год 
                    p.offer__p #[img(src="@img/offer-home.svg", alt="" draggable="false" loading="lazy")] Дата возврата: #[span 12 января 2022]
                    p.offer__p #[img(src="@img/offer-rub.svg", alt="" draggable="false" loading="lazy")]  К возврату: #[span 45 500 ₽] 