mixin ways()
    section.section.ways 
        .ways__body.container 
            h2.ways__title.title Способы получения
            p.ways__desc На карту  QIWI  Yandex Деньги  Наличные
            .ways__content 
                .ways__item 
                    .ways__img  
                        img(src="@img/ways-img-1.svg", alt="")
                    .ways__icon 
                        img(src="@img/ways-icon.svg", alt="")
                .ways__item 
                    .ways__img  
                        img(src="@img/ways-img-2.svg", alt="")
                    .ways__icon 
                        img(src="@img/ways-icon.svg", alt="")
                .ways__item 
                    .ways__img  
                        img(src="@img/ways-img-3.svg", alt="")
                    .ways__icon 
                        img(src="@img/ways-icon.svg", alt="")
                .ways__item 
                    .ways__img  
                        img(src="@img/ways-img-4.svg", alt="")
                    .ways__icon 
                        img(src="@img/ways-icon.svg", alt="")
                .ways__item 
                    .ways__img  
                        img(src="@img/ways-img-5.svg", alt="")
                    .ways__icon 
                        img(src="@img/ways-icon.svg", alt="")
            a(href="#!").ways__btn.btn Оформить заявку 