mixin why()
    section.section.why 
        .why__body.container 
            h2.why__title.title Почему выбирают нас
            .why__content 
                .why__item 
                    .why__img   
                        img(src="@img/why-img-1.png", alt="" draggable="false" loading="lazy").disable-xl
                        img(src="@img/why-img-1_xl.png", alt="" draggable="false" loading="lazy").enable-xl
                    p.why__subtitle Екатерина Романова, 26 лет
                    p.why__desc #[img(src="@img/why-icon.svg", alt="" draggable="false" loading="lazy")] г. Москва
                    p.why__p Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не важно, какая у вас кредитная история и имеются ли текущие просрочки.
                .why__item.disable-md 
                    .why__img   
                        img(src="@img/why-img-2.png", alt="" draggable="false" loading="lazy").disable-xl
                        img(src="@img/why-img-2_xl.png", alt="" draggable="false" loading="lazy").enable-xl
                    p.why__subtitle Екатерина Романова, 33 года 
                    p.why__desc #[img(src="@img/why-icon.svg", alt="" draggable="false" loading="lazy")] г. Москва
                    p.why__p Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не важно, какая у вас кредитная
                .why__item.disable-xl 
                    .why__img   
                        img(src="@img/why-img-3.png", alt="" draggable="false" loading="lazy")
                    p.why__subtitle Екатерина Романова, 33 года 
                    p.why__desc #[img(src="@img/why-icon.svg", alt="" draggable="false" loading="lazy")] г. Москва
                    p.why__p Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не важно, какая у вас кредитная история и имеются ли текущие просрочки.
            .why__content 
                .why__item 
                    .why__img   
                        img(src="@img/why-img-1.png", alt="" draggable="false" loading="lazy").disable-xl
                        img(src="@img/why-img-1_xl.png", alt="" draggable="false" loading="lazy").enable-xl
                    p.why__subtitle Екатерина Романова, 26 лет
                    p.why__desc #[img(src="@img/why-icon.svg", alt="" draggable="false" loading="lazy")] г. Москва
                    p.why__p Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не важно, какая у вас кредитная история и имеются ли текущие просрочки.
                .why__item.disable-md 
                    .why__img   
                        img(src="@img/why-img-2.png", alt="" draggable="false" loading="lazy").disable-xl
                        img(src="@img/why-img-2_xl.png", alt="" draggable="false" loading="lazy").enable-xl
                    p.why__subtitle Екатерина Романова, 33 года 
                    p.why__desc #[img(src="@img/why-icon.svg", alt="" draggable="false" loading="lazy")] г. Москва
                    p.why__p Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не важно, какая у вас кредитная
                .why__item.disable-xl 
                    .why__img   
                        img(src="@img/why-img-3.png", alt="" draggable="false" loading="lazy")
                    p.why__subtitle Екатерина Романова, 33 года 
                    p.why__desc #[img(src="@img/why-icon.svg", alt="" draggable="false" loading="lazy")] г. Москва
                    p.why__p Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не важно, какая у вас кредитная история и имеются ли текущие просрочки.
            .why__buttons 
                a(href="#!").why__btn.btn Оформить заявку
                a(href="#!").why__button Все отзывы  
                a(href="#!").why__button.open-content Свернуть 
